*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section-1{
    background-image: url(place\ 4.png);
    height: 99vh;
    width: 100%;
}
.sec-1-1{
    padding: 30px;
    background-color: #303030;
}
.sec-1-2{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    margin-left: 200px;
    margin-top: -30px;
}
.sec-1-3{
   margin-left: 950px;
   margin-top: -20px;
}
a{
    text-decoration: none;
    color: white;
    padding: 30px;
 
}
.sec-1-4{
   font-size: 40px;
   font-weight: 400;
   color: #ffffff;
   margin-top: 230px;
   margin-left: 90px;
}
.lorem{
 
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";

}
.button{
    width: 200px;
    border-radius: 4px;
    background-color: #e8631c;
    height: 30px;
    border: none;
    color: #ffffff;
}
.section-2{
    width: 100%;
    background-color: #e8631c;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.sec-2-1{
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
   padding-top: 70px;
}
.sec-2-1-1{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;

}
.sec-2-1-2{
    height: 360px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.819);
    margin-left: 90px;
    margin-top: 60px;
}
.tital{
    font-size: 37px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.lorem-1{
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
.sec-2-1-3{
    height: 360px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.819);
    margin-left: 465px;
    margin-top: -360px;
        
}
.tital-1{
    font-size: 37px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.lorem-2{
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
.sec-2-1-4{
    height: 360px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.819);
    margin-left: 840px;
    margin-top: -360px;     
}
.tital-2{
    font-size: 37px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.lorem-3{
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
.section-3{
    width: 100%;
    background-color: #303030;
    height: 670px;
}
.sec-3-1{
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}
.sec-3-1-1{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
.sec-3-2{
    height: 360px;
    border-radius: 8px;
    background-color: #e8631c;
    width: 300px;
    margin-left: 130px;
    margin-top: 60px;
}

.tital-3{
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.lorem-4{
    font-size: 11px;
    color: #ffffff;
    font-weight: 400;  
    text-align: center;
    margin-top: 15px;
}
.img-1{
    margin-top: 50px;
}
.button-1{
    height: 35px;
    color: #e7e4e4;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    border: none;
    width: 260px;
    border-radius: 4px;
    background-color: #303030;
}
.sec-3-3{
    height: 360px;
    border-radius: 8px;
    background-color: #e8631c;
    width: 300px;
    margin-left: 480px;
    margin-top: -360px;
}

.tital-4{
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.lorem-5{
    font-size: 11px;
    color: #ffffff;
    font-weight: 400;  
    text-align: center;
    margin-top: 15px;
}
.img-2{
    margin-top: 50px;
}
.button-2{
    height: 35px;
    color: #e7e4e4;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    border: none;
    width: 260px;
    border-radius: 4px;
    background-color: #303030;
}.sec-3-4{
    height: 360px;
    border-radius: 8px;
    background-color: #e8631c;
    width: 300px;
    margin-left: 840px;
    margin-top: -360px;
}

.tital-5{
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.lorem-6{
    font-size: 11px;
    color: #ffffff;
    font-weight: 400;  
    text-align: center;
    margin-top: 15px;
}
.img-3{
    margin-top: 50px;
}
.button-3{
    height: 35px;
    color: #e7e4e4;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    border: none;
    width: 260px;
    border-radius: 4px;
    background-color: #303030;
}
.section-4{
    width: 100%;
    background-color: #e8631c;
    height: 1500px;
    overflow: hidden;
}
.sec-4-1{
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald"; */
    text-transform: uppercase;
    margin-left: 700px;
    margin-top: -500px;
}
.sec-4-1-1{
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 30px;
}
.button-4{
    height: 35px;
    width: 200px;
    margin-left: 10px;
    background-color: #303030;
    color: #e7e4e4;
    border: none;
    margin-top: 50px;
}
.img-4{
    margin-left: 632px;
    margin-top: 283px;
}
.sec-4-2{
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -500px;
    margin-left: 50px;
  
}
.lorem-7{
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 30px;

}
.button-5{
    height: 35px;
    width: 200px;
    margin-left: 10px;
    background-color: #303030;
    color: #e7e4e4;
    border: none;
  margin-top: 50px;
}
.section-5{
    height: 600px;
    background-color: #303030;
    width: 100%;
}
.sec-5-1{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald"; */
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.sec-5-2{
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    /* font-family: "Montserrat"; */
    text-align: center;
}
.sec-5-3{
    display: flex;
    justify-content: space-evenly;
}
.sec-5-3-1{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald"; */
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.sec-5-3-2{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald"; */
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.sec-5-3-3{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald"; */
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.lorem-8{
    margin-top: 5px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    /* font-family: "Montserrat"; */
    text-align: center;
}
.lorem-9{
    margin-top: 5px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    /* font-family: "Montserrat"; */
    text-align: center;
}
.lorem-10{
    margin-top: 5px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    /* font-family: "Montserrat"; */
    text-align: center;
}
.section-6{
    height: 900px;
    width: 100%;
    background-color: #738c7c;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #c24400da , #c24400da),url(25.png);
}
.sec-6-1{

    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    /* font-family: "Nunito"; */
    text-align: center;
    padding-top: 350px;
  
}
.sec-6-1-1{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald"; */
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
.section-7{
    height: 500px;
    background-color: #e8631c;
    width: 100%;
}
.sec-7-1{
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald"; */
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
}
.sec-7-1-1{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    /* font-family: "Montserrat"; */
    text-align: center;
    margin-top: 20px;
 
}
.sec-7-1-2{
    height: 30px;
    border-radius: 4px;
    background-color: #303030;
    width: 150px;
    color: white;
    border: none;
    margin-left: -20px;
}
.sec-7-1-3{
    height: 30px;
    border-radius: 4px;
    border: none;
    width: 350px;
}
.section-8{
    height: 500px;
    background-color: #303030;
    width: 100%;
}
.sec-8-1-1{
        font-size: 31px;
        font-weight: 700;
        font-family: "Archivo";
        color: #ffffff;
        margin-left: 100px;
        padding-top: 100px;
    }
    .sec-8-1-2{
        font-size: 20px;
        color: #ffffffe4;
        font-weight: 400;
        font-family: "Nunito";
        margin-left: 100px;
        margin-top: 20px;
    }
    .sce-8-2{
        display: flex;
        justify-content: space-evenly;
        margin-left: 500px;
        margin-top: -240px;
    }
    .sec-8-2-1{
        font-size: 31px;
        font-weight: 700;
        font-family: "Archivo";
        color: #ffffff;
    }
    .sec-8-2-2{
        font-size: 31px;
        font-weight: 700;
        font-family: "Archivo";
        color: #ffffff;
    }
   
    .sec-8-2-3{
        font-size: 31px;
        font-weight: 700;
        font-family: "Archivo";
        color: #ffffff;
    }
    .sec-8-2-1-1{
        font-size: 20px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Nunito";
        line-height: 30px;
        margin-top: 20px;
    }
    .sec-8-2-2-1{
        font-size: 20px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Nunito";
        line-height: 30px;
        margin-top: 20px;
    } .sec-8-2-3-1{
        font-size: 20px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Nunito";
        line-height: 30px;
        margin-top: 20px;
    }
    .sec-8-1-3{
      display: flex;
      justify-content: space-evenly;
      color: #ffffff;
      margin-right: 900px;
      margin-top: 50px;
      margin-left: 100px;
       
    }
    
 .iconic{
  color: black;
    font-size: 1.5rem;
    padding: .8rem;
    border-radius: 50% ;
    background: #ffffff;
 }
 /* .fa-facebook{
    color: rgb(0, 13, 255);
 }
 .fa-instagram{
    color: #c31d1d;
 }
 .fa-square-twitter{
    color: #1995c6;
 }
 .fa-whatsapp{
    color: green;
 } */
 .img-5{
    position: absolute;
    height: 99vh;
    /* background-color: #303030; */
    width: 100%;
    left: -400px;
margin-top: -100px;
    
  
 }